.footer{
  background-color: #d6770a;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 0;
}

.footer ul{
  list-style: none;
}

.footer li{
  display: inline;
  padding: 20px;
}

.footer a{
  font-size: 45px;
  color: #585858;
}

.footer a:hover{
  color: #949393;
}

.footer p{
  margin: 0;
  font-weight: bold;
  font-size: 15px;
}